
.todo{
  
    margin: auto;
    color: rgb(95, 59, 12);
    max-width: 600px;
    
    
   }

  /* #jumbed
   {
       float:right;
       max-width: 500px;
       background-color: beige;
       margin-top: 10px;
       border:burlywood 2px solid;
       padding:10px;
       
   }*/