<html>
<head><title>The form Information</title></head>
<body>
	<table>
		 <tr>
              <th scope="col">SN</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Image</th>
              <th scope="col">Description</th>

            </tr>
          </thead>
          <tbody id="table-body">
            <tr>
              <th scope="row">1</th>
              <td id="name"></td>
              <td id="email"></td>
              <td  id="img"></td>
              <td id="desc"></td>
          </tr>
      </tbody>
  </table>
</body>
<script src="../js/info.js"></script>
</html>