<!DOCTYPE html>
<html>
<title>JavaScript Mini Projects</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="project1.html" class="w3-bar-item w3-button">ToDO List</a>
  <a href="datechanger.html" class="w3-bar-item w3-button">datechanger.html</a>
  <a href="Zodiac.html" class="w3-bar-item w3-button">Find Zodiac</a>
  <a href="form.html" class="w3-bar-item w3-button">Form Validation</a>
</div>

<!-- Page Content -->
<div style="margin-left:15%">

<div class="w3-container w3-teal">
  <h1>Logic Implementations</h1>
</div>



<div class="w3-container">
<h2>The Entire Work I have done till date</h2>
<p>Hope this is good</p>
<p>Thank you for having a look!</p>
</div>

</div>
      
</body>
</html>
